@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;
    margin: 0;
}

.navy-blue-bg{
    background-color: #0033ab !important;
}

.navy-blue-text{
        color: #0033ab !important;
}

.watch-options{
    display: none;
    
}
.watch-div:hover .watch-options{
    display: flex;

}
.watch-options a{
    transition: all 0.3s;
}
.watch-options a:hover{
  color: #4275ed !important; 
}
.letter-spacing-2{
    letter-spacing: 2px;
}

.shopFor-img{
   max-width: 370px;
   max-height: 370px;
}
.shopFor-text-men{
     bottom: 10%;
     left: 40%;
}
.shopFor-text-women{
     bottom: 10%;
     left: 35%;
}

.img-div img{
max-width: 230px;
max-height: 250px;
transition: transform 0.5s;
}
.img-div img:hover{
    transform: scale(1.5);
}
.img-div{
    width: fit-content ;
    border: 10px solid #f5f7fc;
    border-radius: 20px;
    overflow: hidden;
}
.trend-card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    
}
.trend-pro-slider{
   max-width: 1090px;
   gap: 30px;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
   
}

.grey-text{
    color: rgb(85, 85, 85);
}
.trend-card-opt{
    opacity: 0;
    transition: opacity 0.5s;
}

.trend-card:hover #opt1,.trend-card:hover #opt2,.trend-card:hover #opt3,.trend-card:hover #opt4{
    opacity: 1;
}
.arrow-bg{
    background-color:rgb(85, 109, 245)
}

.arrow-next{
    height: fit-content;
    width: fit-content;
     top: 40%;
   right: -2%;
   cursor: pointer;
   z-index: 1000;
}
.arrow-prev{
    height: fit-content;
    width: fit-content;
   top: 40%;
   left: -2%;
   cursor: pointer;
   z-index: 1000;
}

.trend-pro{
    max-width: 1090px;
}

.play-pos{
    bottom: 40%;
    right: 50%;
}

.hmt-coll{
    width: 1090px;
}

.hmt-coll-slider{
    max-width: 1090px;
   gap: 30px;
  scrollbar-width: none;
   scroll-snap-type: x mandatory;
}

.hmt-coll-card{
    width: fit-content;
    scroll-snap-align: start;
}

.w-fit-content{
    width: fit-content;
}


.hmt-text-pos{
    bottom: 30%;
}

.hmt-grey-text{
    color: rgb(75, 75, 75);
    font-size: 14px;
    line-height: 25px;
}

.premium-watch-btn{
    background: linear-gradient(to left, rgb(111, 7, 215),rgb(199, 65, 179));
    background-size: 200%;
    background-position: left;
    transition: all 0.6s;
    border: none !important;
}

.premium-watch-btn:hover{
  background-position: right;
}

.end-text-pos{
    bottom: 30%;
    right: 5%;
}

.address-text-foot{
    line-height: 200%;
}

.cursor-pointer{
    cursor: pointer;
}

.nav-opt{
    cursor: pointer;
    transition: all 0.5s;
    border-bottom: #0033ab00 solid 2px;
}

.nav-opt:hover{
    border-bottom: #0033ab solid 2px;
}

.trend-pro-opt p{
    cursor: pointer;
    transition: all 0.3s;
}
.trend-pro-opt p:hover{
    color: #0033ab !important;
}

.carousel-item img{
    width: 100vw;
    height: 580px;
}

.up-arrow{
    bottom: 10%;
    right: 5%;
}

#toggle-btn{
    font-size: larger;
    cursor: pointer;
    
}

.disp-none{
 display: none !important; 
}

.disp-flex{
    display: flex !important;
}


.out-of-stock{
    top: 55%;
    background-color: rgba(240, 248, 255, 0.525); 
    width: 100%;
    height: 10%;
    text-align: center;
}

.discount{
    background-color: yellow;
    left: 0;
    top: 0;
    padding: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 1024px ) and (min-width: 540px){

.nav-opt{
    font-size: smaller;
    white-space: nowrap;
}
.trend-pro-slider{
   max-width: 750px;
   
}

.hmt-coll-slider{
    max-width: 750px;
}
.hmt-coll{
   max-width: 750px; 
}

.hmt-text-pos p{
    font-size: small !important;
}

.end-text-pos p{
     font-size: small !important;
}

}

@media (max-width:580px){
    .carousel-item img{
    width: 100vw;
    height: 380px;
}
.trend-pro-opt{
    width: 94%; 
    margin-right: 30px;
    overflow-x: scroll;
}
.trend-pro-slider{
    width: 250px;
}
.hmt-coll{
    width: 250px;
}
.hmt-coll-slider{
    width: 250px;
}

.play-pos{
    bottom: 30%;
    right: 45%;
}

.hmt-grey-text{
    color: rgb(75, 75, 75);
    font-size: 10px;
    line-height: 20px;
}



.end-text-pos{
    display: none !important;
}

#nav1 a,#nav1 select{
    font-size: 10px !important;
}

}
